form {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  button {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 1rem;
    &:hover {
      background: #ff6f47;
      color: #fff;
    }
  }
  .watch-input{
    outline: none;
    width: 100%;
  }
  .select {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    &::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background: #ff6f47;
      cursor: pointer;
      pointer-events: none;
    }
    .filter-watch {
      padding: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
      color: #0bd4a2;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      width: 14rem;
    }
  }
}
