.watch-episode {
  margin: 0.5rem 0rem;
  background: #fff;
  font-size: 1.5rem;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
      
  .watch-item {
    flex: 1;
    padding: 0rem 0.5rem;
  }
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .trash-btn,
  .complete-btn {
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    .fas {
      pointer-events: none;
    }
  }
    
  .complete-btn {
    background: #0bd4a2;
  }
}