.filters{
  display: flex;
  justify-content: center;
  .select-filters {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    &::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background: #ff6f47;
      cursor: pointer;
      pointer-events: none;
    }
    .filter{
      padding: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
      color: #0bd4a2;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      width: 12rem;
    }
  }
}